<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1>yo yo yo</h1>
    </div>
    <div class="col-sm-12">
      <%= render partial: "new_item", path: new_item_path %>
    </div>
  </div>



  <%= render partial: "items" %>

</div>


<script type="text/javascript">
$.fn.datepicker.defaults.autoclose = true;

$("#datepicker").on("changeDate", function(event) {
  var u_date = $("input[name=u_date]").val();

  $.ajax({
    type: "GET",
    url: "/items",
    data: { u_date },
    success: function(data){
      var formData = $(data).find( '#main-form' )
      $( '#main-form' ).replaceWith( formData );
    }
  });

});
</script>
