<div class="main">
  <%= render partial: 'shared/header' %>

  <% if current_user %>
    <div class="row">
      <div class="col-sm-6">
        <%= render partial: "new_item", path: new_item_path %>
      </div>
      <div class="col-sm-6 graph-button">
        <%= link_to "see graphs", charts_path, class: "btn default" %> 
      </div>
    </div>

    <%= render partial: "items" %>

    </div>
  <% else %>
    <p>
      Welcome to Coraline. This is awesome. Etc. Etc.
    </p>
  <% end %>
</div>